---
---

<div class="content">
  <div>
    <div class="hero">
      <h1>Inspiración y Guía en Tu Camino Cristiano</h1>
      <p>
        Descubre la fuente de motivación y dirección en tu fe con Inspiración y
        Guía en Tu Camino Cristiano. Con contenido fresco y inspirador, te
        acompañaremos en tu jornada espiritual para ayudarte a crecer y
        fortalecer tu relación con Dios.
      </p>
    </div>

    <div class="resource">
      <h3>Explora nuestro mundo de recursos cristianos</h3>
      <p>
        Enriquécete espiritualmente con nuestro material diseñado especialmente
        para ti.
      </p>
    </div>

    <div class="items">
      <h3>Nuestro material se enfoca en...</h3>

      <div class="list-material">
        <div class="list-material-description">
          <img src="/assets/ninos.svg" alt="inspiracion" />
          <span>Niños</span>
        </div>

        <div class="list-material-description">
          <img src="/assets/adolescentes.svg" alt="inspiracion" />
          <span>Adolescentes</span>
        </div>

        <div class="list-material-description">
          <img src="/assets/jovenes.svg" alt="inspiracion" />
          <span>Jóvenes</span>
        </div>

        <div class="list-material-description">
          <img src="/assets/hombres.svg" alt="inspiracion" />
          <span>Hombres</span>
        </div>

        <div class="list-material-description">
          <img src="/assets/mujeres.svg" alt="inspiracion" />
          <span>Mujeres</span>
        </div>

        <div class="list-material-description">
          <img src="/assets/familia.svg" alt="inspiracion" />
          <span>Familias</span>
        </div>

        <div class="list-material-description">
          <img src="/assets/matrimonios.svg" alt="inspiracion" />
          <span>Matrimonios</span>
        </div>
      </div>

      <div class="subscribe">
        <h3>subscribete</h3>
        <p>Recibe contenido fresco y inspirador en tu correo electrónico.</p>
        <div>
          <input type="text" placeholder="Correo electrónico" />
          <button>Subscribirse</button>
        </div>
      </div>

      <div class="frase">
        <h3>
          “Avanzando juntos hacia una vida llena de fe y esperanza con Impulso
          Cristiano”
        </h3>
      </div>
    </div>
  </div>
</div>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    margin-top: 2rem;
  }
  .hero h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }
  .hero p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    margin-top: 2rem;
    background-color: #ffd133;

  }
  .resource h3 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }
  .resource p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    margin: 2rem 0;
  }
  .items h3 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }
  .items p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .list-material-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .list-material-description img {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 auto;
  }
  .list-material-description span {
    text-align: center;
    font-size: 1rem;
  }
  .list-material {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-gap: 1rem;
  }
  .subscribe {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .subscribe input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
  }
  .subscribe button {
    padding: 0.5rem;
    border: 1px solid #ffd133;
    border-radius: 0.25rem;
    background-color: #ffd133;
    color: #000;
  }
  .frase{
    background-color: #ffd133;
    margin: 2rem 0;
  }
</style>
